/intake
/processing
/output
//home/shane/code/python/png_to_stl/venv
//home/shane/code/python/png_to_stl/start.sh
/.idea
/init_git.yml
/ansible
/ansible.cfg
/setup_ansible.yml
/demo/output
/demo/processing
